body .wrapper #forgot-password {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
  background-color: #DADADA;
}
body .wrapper #forgot-password > .grid {
  height: 100%;
}
body .wrapper #forgot-password .column {
  max-width: 450px;
}