@import 'nib'

html,
body,
#wenzi
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

html
  color: #000;
  background: #FFF;

.wrapper
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

#nav
  position: absolute;
  height: 62px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10001;
  overflow: visible;
  user-select: none;

#nav.ui.menu
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  box-shadow: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  .item
    display: block;
    flex: auto;
    padding: 0.92857143em;
  .item:first-child
    display: flex;
    justify-content: flex-start;
    max-width: 150px;
    flex: none;
  .item:last-child
    display: flex;
    justify-content: flex-end;
    max-width: 250px;
    flex: none;
  .logo
    margin: 0 auto;
    width: 34px;
    img
      margin-right: 0;
      width: 34px;
      height: 34px;

#nav-menu,
#nav-alarm,
#nav-add,
#nav-help
  margin-right: 0.928571em;

#nav-user
  .ui.avatar.image
    height: 34px;
    width: 34px;

#content
  z-index: 10000;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  overflow: auto;

.main.container
  padding: 40px 0 60px;

.ui.popup
  box-shadow: none;