@import 'nib'

#doc-edit-tree
  .chapter
    padding: 6px 6px 6px 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 8px;
    color: #4d4d4d;
    background-color: #E1E4E6;
    .content
      width: 100%;
    &.dragging
      background-color: #c4c9cc;
      cursor: grabbing;

  .section
    padding: 6px 6px 6px 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    color: #4d4d4d;
    .content
      width: 100%;
    &.dragging
      background-color: #c4c9cc;
      .icon
        color: #c4c9cc;
      .header
        color: #c4c9cc;


