@import 'nib'

#doc-add
  padding: 30px 0 50px;

#doc-edit-header
  position: absolute;
  height: 62px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10001;
  overflow: visible;
  user-select: none;

#doc-edit-header.ui.menu
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  box-shadow: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  .item
    display: block;
    flex: auto;
    padding: 0.92857143em;
  .item:first-child
    display: flex;
    justify-content: flex-start;
  .item:last-child
    display: flex;
    justify-content: flex-end;

#doc-edit-return,
#doc-edit-add,
#doc-edit-preview,
#doc-edit-alarm,
#doc-edit-help
  margin-right: 0.928571em;

#doc-edit-user
  .ui.avatar.image
    height: 34px;
    width: 34px;

#doc-edit-content
  position: absolute;
  z-index: 10000;
  top: 62px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: none;

#doc-edit-editor
  overflow: auto;
  position: absolute;
  top: 0;
  left: 401px;
  bottom: 0;
  right: 0;

#doc-edit-tree
  overflow: auto;
  background-color: #b6bdc2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  padding: 8px;

#doc-edit-tree
  .chapter
    padding: 6px 6px 6px 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 8px;
    color: #4d4d4d;
    background-color: #E1E4E6;
    .content
      width: 100%;
    &.dragging
      background-color: #8b979f;
      > .icon
        opacity: 0;
      > .content
        opacity: 0;

  .section
    padding: 6px 6px 6px 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    color: #4d4d4d;
    .content
      width: 100%;
    &.dragging
      background-color: #8b979f;
      .icon
        opacity: 0;
      .header
        opacity: 0;

#doc-structure
  .section
    padding-left: 2.1em;


