@import 'nib'

#doc-add
  padding: 30px 0 50px;

#doc-edit
  display: flex;
  flex-direction: row;
  height: 100%;

#doc-edit-editor
  flex: auto;
  min-width: 600px;

#doc-edit-tree
  background-color: #2C2D2E;
  flex: none;
  position: relative;
  width: 400px;
  padding: 8px;

#doc-edit-tree
  .chapter
    padding: 6px 6px 6px 8px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 8px;
    color: #4d4d4d;
    background-color: #E1E4E6;
    .content
      width: 100%;
    &.dragging
      background-color: #c4c9cc;
      > .icon
        opacity: 0;
      > .content
        opacity: 0;

  .section
    padding: 6px 6px 6px 8px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    color: #4d4d4d;
    .content
      width: 100%;
    &.dragging
      background-color: #c4c9cc;
      .icon
        opacity: 0;
      .header
        opacity: 0;

#doc-header
  padding-top: 30px;

#doc-index
  padding:30px 0 50px;

#doc-structure
  .section
    padding-left: 2.1em;


